@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flipCard {
  0% {
    transform: rotateX(0);
    @apply border-gray-300 bg-transparent;
  }

  45% {
    transform: rotateX(90deg);
    @apply border-gray-300 bg-transparent
  }

  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--border-color);
  }

  100% {
    transform: rotateX();
    background-color: var(--background-color);
    border-color: var(--border-color);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    @apply border-gray-500 bg-transparent;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    @apply border-gray-300 bg-transparent
  }
}

.flipTile {
  animation: flipCard 0.5s ease forwards;
}

.none {
  @apply border-gray-500 bg-transparent;
}

.filled {
  @apply border-gray-300 bg-transparent;
}

.current > .filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.clear > div {
  animation: jiggle 800ms ease-in-out forwards;
  @apply bg-green-600 border-green-600;
}

.correct-spot {
  animation: flipCard 0.5s ease forwards;
  --background-color: theme('colors.green.600');
  --border-color: theme('colors.green.600');
}

.wrong-spot {
  animation: flipCard 0.5s ease forwards;
  --background-color: theme('colors.yellow.600');
  --border-color: theme('colors.yellow.600');
}

.not-found {
  animation: flipCard 0.5s ease forwards;
  --background-color: theme('colors.gray.700');
  --border-color: theme('colors.gray.700');
}

@keyframes alertEnter {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.alert {
  animation: alertEnter 0.2s ease-in-out forwards;
}

@keyframes shake {
  0% { transform: translateX(3px); }
  10% { transform: translateX(-3px); }
  20% { transform: translateX(3px); }
  30% { transform: translateX(-3px); }
  40% { transform: translateX(3px); }
  50% { transform: translateX(-3px); }
  60% { transform: translateX(3px); }
  70% { transform: translateX(-3px); }
  80% { transform: translateX(3px); }
  90% { transform: translateX(-3px); }
  100% { transform: translateX(3px); }
}

.invalid {
  animation: shake 600ms;
}

@keyframes jiggle {
  0% { transform: translateY(0); }
  25% { transform: translateY(-1rem); }
  75% { transform: translateY(1rem); }
  100% { transform: translateY(0); }
}